In [3]:
import pandas as pd
import numpy as np
import os

data_dir = "./data/"

In [4]:
list_dir = os.listdir(data_dir)
print(list_dir)

['fulfilment_center_info.csv', 'meal_info.csv', 'sample_submission.csv', 'test.csv', 'train.csv']

In [6]:
center_info = pd.read_csv(os.path.join(data_dir,list_dir[0]))
meal_info   = pd.read_csv(os.path.join(data_dir,list_dir[1]))
test_ds     = pd.read_csv(os.path.join(data_dir,list_dir[3]))
train_ds    = pd.read_csv(os.path.join(data_dir,list_dir[4]))

In [9]:
test_ds

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured
0,1028232,146,55,1885,158.11,159.11,0,0
1,1127204,146,55,1993,160.11,159.11,0,0
2,1212707,146,55,2539,157.14,159.14,0,0
3,1082698,146,55,2631,162.02,162.02,0,0
4,1400926,146,55,1248,163.93,163.93,0,0
...,...,...,...,...,...,...,...,...
32568,1250239,155,61,1543,482.09,484.09,0,0
32569,1039516,155,61,2304,483.09,483.09,0,0
32570,1158107,155,61,2664,322.07,323.07,0,0
32571,1444235,155,61,2569,322.07,323.07,0,0
32572,1291286,155,61,2490,276.45,276.45,0,0